
<div class="father">
    <div class="menu">
        <img src="menu.png" id="menuimg">
    </div>
    <div class="acomodar">
        <div class="button-header">
            <input id="search" placeholder="Buscar">
            
        </div>

        <div class="search">
            <button>
                <img src="buscar.png" width="40" height="40" id="imgSearch">
            </button>
        </div>

        <div class="userIcon">
            <img src="user.png" id="userImg">
        </div>
    </div>
</div>


