    
<div class="fatherFooter">
    <div class="boxfooter">
        <div class="imgFace">
            <img src="faceebook.jpg" alt="" id="faces">
        </div>

        <div class="enlaces">
            <p id="prin">Enlaces</p>
            <p>Inicio</p>
            <p>Juegos</p>
            <p>Biblioteca</p>
        </div>

        <div class="redes">
            <p>Redes Sociales</p>
            <div class="social-media">
                <img src="igIcono.png">
                <img src="tw.png">
                <img src="wp.png">
            </div>
        </div>

        <div class="quejas">
            <div><p>Quejas</p></div>
            <div><input type="Name" id="coloript"></div>
            <div><input type="Your email" id="coloript"></div>
            <div><button id="btnSend">enviar </button></div>
        </div>
    </div>
    <div class="end">
        <div class="n">
            <img src="cell.png"><p>651-382-9802</p>
        </div>  
        <div class="n">
            <img src="correo.png"><p>holmesoutlook.com</p>
        </div>
        <div class="n">
            <img src="ubicacion.png"><p>Tuxtla, Chiapas</p>
        </div>
    </div>
</div>

