
<div class="father">
    <div class="box">
        <mat-card appearance="outlined" class="card">
            <img mat-card-image src="minecraft.webp" alt="Card image">
            <mat-card-content class="contentCard">¡Oferta del día!</mat-card-content>
            <div class="contentDes">
                <div class="boxC">
                    <mat-card-content class="Descuento">-75%</mat-card-content>
                </div>
                <div class="boxCD">
                    <div class="separador">
                        <mat-card-content id="menor">MEX$618.09</mat-card-content>
                    </div>
                    <div class="separadorD">
                        <mat-card-content id="mayor" >MEX$154.52</mat-card-content>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>

    <div class="box1">
        <div class="second">
            <div class="boxSims">
                <mat-card appearance="outlined" class="card22">
                    <div class="card-content">
                        <div class="image">
                            <img mat-card-image src="sims.jpg" alt="Card image" id="imgSims">
                        </div>
                        <div class="textt">
                            <mat-card-content class="contentCard">¡Oferta del día!</mat-card-content>
                            <div class="ofert">
                                <mat-card-content class="desc">-55%</mat-card-content>
                                <div class="ofertt">
                                    <mat-card-content class="desMex">MEX$514.03</mat-card-content>
                                    <mat-card-content class="">MEX$114.03</mat-card-content>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
        
        
        <div class="second">
            <div class="boxSims">
                <mat-card appearance="outlined" class="card22">
                    <div class="card-content">
                        <div class="image">
                            <img mat-card-image src="smite.jpeg" alt="Card image" id="imgSims">
                        </div>
                        <div class="textt">
                            <mat-card-content class="contentCard">¡Oferta del día!</mat-card-content>
                            <div class="ofert">
                                <mat-card-content class="desc">-55%</mat-card-content>
                                <div class="ofertt">
                                    <mat-card-content class="desMex">MEX$514.03</mat-card-content>
                                    <mat-card-content class="">MEX$114.03</mat-card-content>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>

<div class="tree">
    <div class="boxGo">
        <mat-card appearance="outlined" class="card23">
            <div class="card-contents">
                <div class="image">
                    <img mat-card-image src="go.webp" alt="Card image" id="imgGo">
                </div>
                <div class="textt2">
                    <mat-card-content class="contentCard">¡Oferta del día!</mat-card-content>
                    <div class="oferts">
                        <mat-card-content class="desc2">-55%</mat-card-content>
                        <div class="ofertt2">
                            <mat-card-content class="desMex2">MEX$514.03</mat-card-content>
                            <mat-card-content class="">MEX$114.03</mat-card-content>
                        </div>
                    </div>
                    
                </div>
            </div>
        </mat-card>
    </div>

    <div class="boxGo">
        <mat-card appearance="outlined" class="card23">
            <div class="card-contents">
                <div class="image">
                    <img mat-card-image src="freefire.png" alt="Card image" id="imgGo">
                </div>
                <div class="textt2">
                    <mat-card-content class="contentCard">¡Oferta del día!</mat-card-content>
                    <div class="oferts">
                        <mat-card-content class="desc2">-55%</mat-card-content>
                        <div class="ofertt2">
                            <mat-card-content class="desMex2">MEX$514.03</mat-card-content>
                            <mat-card-content class="">MEX$114.03</mat-card-content>
                        </div>
                    </div>
                    
                </div>
            </div>
        </mat-card>
    </div>
</div>



<div class="tree">
    <div class="boxGo">
        <mat-card appearance="outlined" class="card23">
            <div class="card-contents">
                <div class="image">
                    <img mat-card-image src="fivenight.jpg" alt="Card image" id="imgGo">
                </div>
                <div class="textt2">
                    <mat-card-content class="contentCard">¡Oferta del día!</mat-card-content>
                    <div class="oferts">
                        <mat-card-content class="desc2">-55%</mat-card-content>
                        <div class="ofertt2">
                            <mat-card-content class="desMex2">MEX$514.03</mat-card-content>
                            <mat-card-content class="">MEX$114.03</mat-card-content>
                        </div>
                    </div>
                    
                </div>
            </div>
        </mat-card>
    </div>

    <div class="boxGo">
        <mat-card appearance="outlined" class="card23">
            <div class="card-contents">
                <div class="image">
                    <img mat-card-image src="duckgame.webp" alt="Card image" id="imgGo">
                </div>
                <div class="textt2">
                    <mat-card-content class="contentCard">¡Oferta del día!</mat-card-content>
                    <div class="oferts">
                        <mat-card-content class="desc2">-55%</mat-card-content>
                        <div class="ofertt2">
                            <mat-card-content class="desMex2">MEX$514.03</mat-card-content>
                            <mat-card-content class="">MEX$114.03</mat-card-content>
                        </div>
                    </div>
                    
                </div>
            </div>
        </mat-card>
    </div>
</div>
