.cardOpinion{
    width: 300px;
    
}
.cardsFour{
    display: flex;
    justify-content: center;
}
.SmallBox{
    margin: 20px;
}
#imgPeopleone{
    width: 100px;
    display: flex;
    justify-content: center;
}
.SmallBox{
    display: flex;
    justify-content: center;
}
.imgPOne{
    display: flex;
    justify-content: center;
}
#contentPrice{
    display: flex;
    justify-content: center;
    
}
.contentt{
    display: flex;
    justify-content: center;
    padding: 20px;
}