<div class="cardsFour">
    <div class="SmallBox">
        <mat-card appearance="outlined" class="cardOpinion">
            <div class="imgPOne">
                <img mat-card-image src="peopleOne.png" alt="Card image" id="imgPeopleone">
            </div>
            <div class="contentt">
                <mat-card-content >"Muy buenos precios y gran variedad de diseños"</mat-card-content>
            </div>
            <div class="imgPOne">
                <img mat-card-image src="estrellas.png" alt="Card image" id="imgPeopleone">
            </div>
        </mat-card>
    </div>

    <div class="SmallBox">
        <mat-card appearance="outlined" class="cardOpinion">
            <div class="imgPOne">
                <img mat-card-image src="peopleTwo.png" alt="Card image" id="imgPeopleone">
            </div>
            <div class="contentt">
                <mat-card-content >"Muy buenos precios y gran variedad de diseños"</mat-card-content>
            </div>
            <div class="imgPOne">
                <img mat-card-image src="estrellas.png" alt="Card image" id="imgPeopleone">
            </div>
        </mat-card>
    </div>
</div> 