<div class="slider-box">
    <ul>
        <li><img src="/fiveN.avif" alt="" id="fiveNimg"></li>
        <li><img src="/brawhalla.jpg" alt="" id="imgbraw"></li>
        <li><img src="/pubg.jpg" alt="" id="imgPubg"></li>
        <li><img src="/brawls.jpg" alt="" id="imgPubg"></li>
    </ul>
</div>

<div class="fatherTwo">

    <div class="minfather">

        <div class="imgpopu">
            <img src="/populares.png" alt="" id="popuIMG">
        </div>

        <div class="texrpopu">
            <h2>Populares</h2>
        </div>
    </div>

    <div class="imagens">
        <div class="box">
            <img src="/fornite.jpg" alt="" id="fornite">
        </div>
        <div class="box"><p>FORNITE</p></div>
        <div class="box">
            <img src="/league.jpeg" alt="" id="league">
        </div>
        <div class="box"><p>League of legs</p></div>
        <div class="box">
            <img src="/pubgmobile.jpg" alt="" id="pubg">
        </div>
        <div class="box"><p>PUBG</p></div>
    </div>

    <div class="imagens">
        <div class="box">
            <img src="/destiny.png" alt="" id="fornite">
        </div>
        <div class="box"><p>Destiny</p></div>
        <div class="box">
            <img src="/logobrawlh.webp" alt="" id="league">
        </div>
        <div class="box"><p>BRAWLHALLA</p></div>
        <div class="box">
            <img src="/logobrawls.png" alt="" id="pubg">
        </div>
        <div class="box"><p>BRAWLS</p></div>
    </div>

    <div class="imagens">
        <div class="box">
            <img src="/left.jpg" alt="" id="fornite">
        </div>
        <div class="box"><p>LEFT 4 DEAD </p></div>
        <div class="box">
            <img src="/overWatch.jpg" alt="" id="league">
        </div>
        <div class="box"><p>overWatch</p></div>
        <div class="box">
            <img src="/football.png" alt="" id="pubg">
        </div>
        <div class="box"><p>FOOTBALL</p></div>
    </div>
    

</div>

<div class="fathertree">
    <h2>Descuento %</h2>
    <app-card></app-card>
</div>

<div class="fatherfour">
    <h2>Opiniones</h2>
    <app-cards-two></app-cards-two>
</div>